:root {
  --blue: #2196f3;
  --almost-black: #212121;
  --grey: #757575;
  --dark-backgorund: #2f303a;
  --dirty-white: #e5e5e5;
  --dirtier-white: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dirty-white);
}
.top-section {
  background-color: white;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--almost-black);
  letter-spacing: 0.02em;
}

.logo-color,
nav a:hover,
nav a:focus,
.contacts:hover,
.contacts:focus {
  color: var(--blue);
}
.contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--grey);
  text-decoration: none;
  letter-spacing: 0.02em;
}
.primary-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}
.first-section {
  background-color: var(--dark-backgorund);
}
.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  background-color: var(--blue);
  cursor: pointer;
  width: 200px;
  height: 50px;
}
.second-section h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--almost-black);
}
.second-section p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.thrid-section h2,
.fourth-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--almost-black);
}
.fourth-section {
  background-color: var(--dirtier-white);
}
